* {
    border: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'ubuntu';
}

body {
    font-size: medium;
    margin: 15px;
}
h1 {
    font-size: large;
}
h2 {

}

img {
    max-width: 100%;
    padding: 20px;
}

figure {
    margin: 0;
}

@media screen and (max-width:375px) {
 body {
    background-color:chocolate;
    font-size: large;
    text-align: center;
}
.grid-figure {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
img {
    width: 200px;
}
figure {
    margin: 40px;
    }
}
@media screen and (min-width:768px) {
    body {
        background-color: aquamarine;
        font-size: 30px;
        margin: 30px;
    }
    .grid-figure {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
    img {
        width: 200px;
    }
    figure {
        margin: 20px;
    }
}